.bg {
    position: absolute;
    z-index: 0;
    height: 1594px;
    width: 1440px;
    background-color: #cccccc;
}
p{
    color: white;
}
.header {
    position: relative;
    background-image: url(BG\ HEADER.svg);
    width: 1440px;
    height: 381px;
    z-index: 1;
}
.content {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    z-index: 2;
    width: 1380px;
    height: 1195px;
    left: 31px;
    top: 313px;
    margin-bottom: 86px;
}
.components {
    padding-left: 900px;
    position: absolute;
    padding-top: 42px;
}

.image1 {
    width: 20px;
    height: 20px;
    padding-left: 1070px;
    position: absolute;
    padding-top: 42px;
}

.image2 {
    width: 19px;
    height: 23px;
    padding-left: 1220px;
    position: absolute;
    padding-top: 40px; 
}

.image3 {
    width: 18px;
    height: 23px;
    padding-left: 1260px;
    position: absolute;
    padding-top: 40px;  
}

.image4 {
    width: 18px;
    height: 23px;
    padding-left: 1300px;
    position: absolute;
    padding-top: 40px;
}
.download {
    color: white;
    padding-left: 1100px;
    position: absolute;
    padding-top: 40px;
}
.center-left {
    position: absolute;
    top: 40px;
    left: 100px;
}
.footer{
    height: 17px;
    width: 1127px;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 1550px;
    left: 165px;
}
.footer-nav{
    float: left;
}
.nav-footer{
    text-align: left;
}
.ul-menu{
    padding: 0;
    margin: 0;
    display: block;
    margin: 0 auto;
}
.ul-menu li{
    float: left;
    display: block;
    margin-right: 24px;
}
.ul-menu a{
    color: black;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
}
.footer-parag{
    float: right;
    padding: 0;
    margin: 0;
    display: block;
    margin: 0 auto;
    
}
.footer-parag p{
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: black;
    text-align: right;
    padding: 0;
    margin: 0;
}
